body{
    background-image: url(c1.jpg);
    background-size: cover;
}
form {
    background-color: rgba(15, 15, 15, 0.8); 
    padding: 80px;
    border-radius: 20px;
    max-width: 800px; 
    margin: 0 auto; 
  }
  label {
    display: block;
    margin-bottom: 10px;
    color: rgb(192, 110, 9);
    font-size: 60px;
  }
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 5px;
     
  }
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
  }
  p{
    color: #ff0000;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
  }
  h2{
    color:rgb(221, 120, 120);
    font-size: 100px;
    background-size: cover;
  }
  p {
    color: #ff0000;
    color: black;
    font-size: 100px;
    
  }
  
  